node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.eslintrc.json
next.config.mjs
postcss.config.mjs
tailwind.config.js
jest.config.js
.vscode
.idea
.DS_Store
*.pem
.prisma/client
prisma/dev.db
prisma/dev.db-journal
